<div
  class="fixed top-0 z-50 p-3 right-0 left-0 bg-[#69f0ae] text-gray-800 flex h-16 items-center justify-between"
>
  <div class="h-16 w-full flex items-center justify-between">
    <div class="flex items-center ">
      <div class=""> 
        <img
          src="https://images.unsplash.com/photo-1629806591623-dc5b6102dfc7?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D "
          alt=""
          class="w-8"
        />
      </div>
      <div class="">
        <div class="flex space-x-4">
          <a routerLink="/" class=""> shop with abdessamadPas</a>
          <div>
            <button (click)="openNavbarContent('men')" mat-button>Men</button>
          </div>
          <div>
            <button (click)="openNavbarContent('women')" mat-button>
              women
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center">
        <button (click)="navigateTo('cart')" mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button  mat-raised-button type="" color="accent">
           LOGIN
        </button>
    </div>
  </div>
</div>
