<div
  class="fixed top-0 z-50 p-3 right-0 left-0 bg-[#69f0ae] text-gray-800 flex h-16 items-center justify-between"
>
  <div class="h-16 w-full flex items-center justify-between">
    <div class="flex items-center gap-2">
        <img
          src="https://images.unsplash.com/photo-1629806591623-dc5b6102dfc7?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D "
          alt=""
          class="w-8"
        />
      <div class="">
        <div class="flex space-x-4 items-center">
          <a routerLink="/" class=""> shop with Us</a>
          <div>
            <button (click)="openNavbarContent('men')" mat-button>Men</button>
          </div>
          <div>
            <button (click)="openNavbarContent('women')" mat-button>
              women
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center">
      <button (click)="navigateTo('cart')" mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button *ngIf="false" mat-raised-button type="" color="accent">LOGIN</button>
      <div *ngIf="true" class="ml-3 flex items-center">
        <div class="flex items-center space-x-5">
          <span class="font-bold text-lg">AbdessamadPas</span>
          <button mat-button [matMenuTriggerFor]="profileMenu">
            <img
              src="https://cdn.pixabay.com/photo/2023/12/09/10/10/woman-8439003_1280.png"
              alt="Abdou"
              class="w-auto h-8"
            />
          </button>
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item>Orders</button>
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
